@model Z_Market.ViewModels.UserView
@{
    ViewBag.Title = "AddRole";
}

<h2>Add Role To User: @Model.Name</h2>

@using (Html.BeginForm("AddRole", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Role.RoleID, "RoleID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ActionLink("Return to user", "Roles", new { userID=Model.UserID }, new { @class = "btn btn-info" })


        <input type="submit" value="Add Role" class="btn btn-success" />


    </div>
}